@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to right, #636363, #a2ab58); */
}
.container {
  height: 100vh;
  width: 100%;
  border: 8px solid #000;
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  display: flex;
}

.head-wrapper {
  padding: 0 30px;
}
.container .screen {
  flex: 1;
  min-width: 100%;
  transition: all 0.3s;
}
.container.show-category .home-screen {
  transform: translateX(-100%);
}
.container.show-category .category-screen {
  transform: translateX(-100%);
}
.container.show-category .screen-backdrop {
  transform: translate(-50%, -60%);
}
.screen-backdrop {
  width: 135%;
  height: 25rem;
  border-radius: 0 0 50% 50%;
  background-color: #f9ea85;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.3s;
}
.menu-btn i {
  width: 2rem;
  cursor: pointer;
  color: #2e2e2e;
  font-size: 3rem;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.welcome h1 {
  font-size: 1.5rem;
}
.welcome p {
  font-weight: 500;
}
.welcome .user-img {
  position: relative;
}
.welcome .user-img img {
  width: 6rem;
}
.welcome .user-img .backdrop {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 5.8rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}
.categories-wrapper {
  margin-top: 1rem;
  height: calc(100% - 8rem);
  padding: 0 30px;
  padding-bottom: 10rem;
  overflow: auto;
}
.categories {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
}
.categories .category {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.categories .category:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4);
}
.category .left {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.category .left img {
  width: 4.5rem;
}
.category .content h1 {
  font-size: 1.6rem;
}
.category .content p {
  color: rgb(145, 145, 145);
  font-size: 0.8rem;
}
.category .toggle-btn {
  font-size: 2rem;
  align-self: center;
  cursor: pointer;
  opacity: 0.7;
}
.category .options {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.category:hover .options {
  visibility: visible;
  opacity: 1;
}
.category-screen .head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-screen .head-wrapper i {
  font-size: 2.5rem;
  cursor: pointer;
}
.category-details {
  padding: 0 30px;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.category-details img {
  font-size: 4.5rem;
}
.category-details h1 {
  font-size: 1.6rem;
}
.category-details p {
  color: rgb(145, 145, 145);
  font-size: 0.8rem;
}
.tasks-wrapper {
  padding: 0 30px;
  margin-top: 1rem;
  height: calc(100%-12rem);
  padding-bottom: 20px;
  overflow: auto;
}
.tasks {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}
.task-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.no-task {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.6;
}
.task {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  width: max-content;
  cursor: pointer;
  padding: 10px 20px;
}
.task input {
  display: none;
}
.task .checkmark {
  height: 1rem;
  width: 1rem;
  border-radius: 2px;
  border: 1px solid #2e2e2e;

  display: flex;
  justify-content: center;
  align-items: center;
}
.task .checkmark i {
  background-color: #2e2e2e;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0;
  transition: all 0.3s;
}
.task:hover .checkmark i {
  opacity: 1;
}
.task input:checked ~ p {
  text-decoration: line-through;
  color: #656565;
}
.task input:checked ~ .checkmark i {
  opacity: 1;
}
.task-wrapper .delete {
  min-width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: #2e2e2e;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.task-wrapper .delete i {
  font-size: 1.4rem;
}
.task-wrapper .delete:hover {
  color: red;
}
.task-wrapper:hover .delete {
  opacity: 1;
  visibility: visible;
}

.add-task-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  cursor: pointer;
  background-color: #40c057;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.add-task-btn.active {
  z-index: 1;
  bottom: 20rem;
  transform: rotate(45deg);
}
.add-task-btn i {
  font-size: 2.5rem;
}
.add-task-btn:hover {
  transform: scale(1.1);
}
.add-task {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  transition: all 0.4s;
}
.add-task.active {
  bottom: 0;
}
.add-task .heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}
.input-group input,
.input-group label {
  display: block;
  width: 100%;
}
.input-group input,
.input-group select {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
.input-group label {
  width: max-content;
  padding: 0 5px;
  margin-top: 5px;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.btns button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 200;
}
.btns button.add-btn {
  background-color: #40c057;
  color: #fff;
}
.add-task-backdrop {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 135%;
  height: 20rem;
  transform: translateX(-50%);
  border-radius: 50% 50% 0 0;
  background-color: #f9ea85;
  border-top: 1px solid #fffefe;
}
.black-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: #00000023;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.black-backdrop.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 769px) {
  .container {
    height: 50rem;
    width: 45rem;
    border-radius: 40px;
  }
  .category .content h1 {
    font-size: 1.8rem;
  }
  .category .content p {
    font-size: 1.2rem;
  }
  .category .toggle-btn {
    font-size: 2.5rem;
  }
}
